<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/logo12.jpg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'rooms/styles/style.css' %}" />



   
   
    

    
    {% if page == 'logout' %}
    <title>Socialdome/logout</title>
    {% elif page == 'register' %}
    <title>Socialdome/Register</title>
    {% elif page == 'login' %}
    <title>Socialdome/Login</title>
    {% else %}
    <title>Domesocial</title>
    {% endif %}
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}


    {% endblock %}

    <script src="{% static 'rooms/js/script.js' %}"></script>


</body>

</html>